@using Synapse
@using Newtonsoft.Json
@using RevitTemplateWeb.Core

<h1>Client</h1>

<p>Message from Revit: @revitMessage</p>
<button class="btn btn-primary" @onclick="GetSiteInformation">Get Site Info</button>

@code {
    private string revitMessage = "";

    private async Task GetSiteInformation()
    {
        //! synapse revit command!
        RevitElementModel revitElementModel = null;
        string? response = App.SynapseClient?.TryDoRevit<RevitElementModel>(Commands.GetCurrentDocSiteLocation.ToString(), out revitElementModel);

        revitMessage = revitElementModel?.Name ?? response ?? string.Empty;
    }

}